body {
    font-family: 'Nunito', sans-serif;
    background-color: #272a33;
    color: white;
}

.content:before {
    overflow: auto;	
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url("/img/?bg=standings");
    background-size:cover;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}

.no-standings {
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 80px;
}

.backdrop {
    background-color: #272a33;
    padding: 50px;
    width: 50%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    margin-bottom: 15px;
}

td {
    margin: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

h3 {
    padding-top: 0.75em;
    padding-right: 25px;
}

.standing {
    font-size: 16pt;
}

.cell {
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.light {
    background-color: #373A43;
}

h4 {
    font-size: 20pt;
}

.title {
    padding: 30px;
    padding-bottom: 0px;
}

.tab {
    overflow: hidden;
    background-color: #373A43;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    font-family: inherit;
}

.tab button {
    align-self: center;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
    font-family: inherit;
}

.tab button:hover {
    background-color: #ddd;
    color:black;
}

.tab button.active {
    background-color: orange;
    opacity: 0.8;
    color: black;
}

.tabcontent {
    display: none;
    padding: 0px;
    border: 1px solid #373A43;
    border-top: none;
}

.footer {
    position: fixed;
    margin-left: 2%;
    margin-bottom: 5%;
    top: 90vh;
    opacity: .6;
    font-family: 'Nunito', sans-serif;
}

.footer a {
    color: white;
    text-decoration: none;
}

.format-name {
    display: none;
}

#disclaimer {
    position: absolute; 
    right: 0;
}


@media screen and (max-width:600px) {
    .tab {
        display: none;
    }

    .tabcontent {
        display: block;
    }

    .backdrop {
        width: 100%;
    }
    .cell {
        padding-right: 0px;
        padding-left: 0px;
    }

    .backdrop {
        margin-bottom: 15px;
        border-radius: 25px;
    }

    .format-name {
        display: block;
    }

    th {
        padding: 15px;
    }

    #disclaimer {
        padding-right: 0px;
        position: static;
    }
}