body {
	font-family: 'Nunito', sans-serif;
    background: #5d6c6f;
}

.content:before {
    overflow: auto;	
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	background-image: url("league_guildmage.jpg");
	background-size:cover;
	width: 100%;
	height: 100%;

	filter: blur(5px);
}

form {
	border: 3px solid #f1f1f1;
	width: 50%;
	margin: 0 auto;
    background: white;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	transition: 0.5s; 
	border-radius: 5px;
    font-size: 14pt;
}

button:hover {
	background-color: #449C48;
	transition: 0.5s;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

img.avatar {
	width: 25%;
	border-radius: 50%;
}

.container {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

.footer {
    position: fixed;
    margin-bottom: 20%;
    margin-left: 5%;
    width: 100%;
    opacity: 0.6;
    cursor: pointer;
    color: white;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		 display: block;
		 float: none;
	}
}

		