.content:before {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/img/?bg=current_bg");
}

body {
    background-color: #23120b; 
}

h1 {
    font-size: 72pt;
    color: white;
    text-align: center;
    font-family: Beleren;
    animation: fadein 2s;
}

img {
    margin: auto;
    margin-top: -100px;
    display: flex;
    max-width: 100%;
    width: auto;
    height: auto;
    animation: slidein 2s;
}

#buttons {
    margin: 0 auto;
    width: fit-content;
    margin-top: 100px;
    animation: fadein 5s;
}

button {
    font-family: 'Nunito', sans-serif;
    margin: 25px;
    background-color: #23120b;
    border-radius: 8px;
    border: 5px solid white;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25pt;
    transition-duration: 0.4s;
}
button:hover {
    background-color: white;
    color: #23120b;
}

.footer {
    position: fixed;
    margin-left: 5%;
    margin-bottom: 5%;
    top: 90vh;
    opacity: .6;
    font-family: 'Nunito', sans-serif;
}

.footer a {
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: Beleren;
    src: url("/css/fonts/BelerenBold.woff");
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slidein {
    from {	transform: translate(0, 170%);
            opacity: 0;
    }
    to {	transform: translate(0, 0%);
            opacity: 1; }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 48pt;
    }
    img {
        margin-top: -70px;
    }
    button {
        width: -webkit-fill-available;
    }
}