body {
    background: #646464;
    display: block;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

.login-wrapper {
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #71747C;
    max-width: 720px;
    min-height: 100vh;
    padding-bottom: 20px;
    padding-top: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bg-wrapper {
    position:fixed;
    right: 0;
    background: #555;
    top: 0;
    min-width: 720px;
    min-height: 100vh;
    background-image: url("wolfrider.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(5px);
}

.login-inner {
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #71747C;
    max-width: 720px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 360px;
}

.login-header {
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #555;
}

.title {
    font-size: 48pt;
    font-family: Beleren, serif;
}

.form-item {
    margin-bottom: 16px;
}

.form-item.password {
    margin-bottom: 0px;
}

.form-item-content {
    line-height: 40px;
    position: relative;
    font-size: 14px;
}

.form-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.form-input-inner {
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: inherit;
    padding: 0 16px;
    resize: none;
    -webkit-appearance: none;
    background-color: white;
    color: #606266;
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    outline: none;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    font-family: inherit;
}

.form-input-inner:focus {
    border-color: #4CAF50;
}

.is-error .form-input-inner {
    border-color: #e94b4b;
}

.form-item-error {
    color: #e94b4b;
    padding-top: 8px;
    position: relative;
    font-size: 12px;
    line-height: 1;
    top: 100%;
    left: 0;
}

.signin-form-item .form-item-content {
    display: flex;
}

.sign-in {
    width: 50%
}

.button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #4CAF50;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 14px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1;
    margin: 0;
    min-width: 112px;
    outline: none;
    padding: 12px 16px;
    text-transform: none;
    font-family: inherit;
}

.button:hover:enabled {
    background: #449C48;
    -webkit-box-shadow: rgba(0, 0, 0, 0.247059) 2px 2px 4px 0px;
    box-shadow: rgba(0, 0, 0, 0.247059) 2px 2px 4px 0px;
}

.button[disabled] {
    cursor: default;
    opacity: 0.6;
}

.forgot-password {
    text-align: center;
    width: 50%;
    margin-left: 16px;
}

.forgot-password:hover, .token-cancel:hover {
    text-decoration: underline;
}

.button-spinner {
    height: 20px;
    margin: -3px 8px -3px 0;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

.button-spinner-inner {
    animation: rotate 2s linear infinite;
}

.button-spinner-inner .path {
    stroke: #ececec;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.footer {
    position: fixed;
    right: 5vw;
    margin-bottom: 5%;
    top: 90vh;
    opacity: .6;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.footer a {
    color: white;
    text-decoration: none;
}