body {
    background-color: #1a3538; 
    font-family: 'Nunito', sans-serif;
    color: white;
}

.content:before {
    overflow: auto;	
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url("dream-eater.jpg");
    background-size:cover;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}

h1 {
    margin-left: 2%;
}

button {
    font-family: 'Nunito', sans-serif;
    margin: 25px;
    background-color: white;
    opacity: 0.7;
    border-radius: 8px;
    border: 5px solid #1a3538;
    color: #1a3538;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16pt;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #1a3538;
    color: white;
    opacity: 0.9;
}

#top-4 {
    width: 50%;
    height: auto;
    margin-left: 25%;
    border: 3px solid white;
}

.footer {
    position: fixed;
    margin-left: 5%;
    margin-bottom: 5%;
    top: 90vh;
    opacity: .6;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.footer a {
    color: white;
    text-decoration: none;
}
