:root {
    --bg-color: #1a3538;
}

.content:before {
    background-image: url("dream-eater.jpg");
}

#top-4 {
    width: 50%;
    height: auto;
    margin-left: 25%;
    border: 3px solid white;
}

@media screen and (max-width: 500px) {
    #top-4 {
        width: 80%;
        margin-left: 10%;
    }
}