.content:before {
    background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url("saproling-token.jpg");
}

b {
    font-size: larger;
}

.text {
    width: 50%;
    margin: 0 auto;
}

p {
    font-size: 16pt;
    text-indent: 2em;
}

a {
    color: forestgreen;
    cursor: pointer;
}

a:hover { 
    text-decoration: black underline;
}

li {
    text-indent: 1em;
    font-size: 16pt;
    
}

.footer {
    position: fixed;
    margin-left: 5%;
    margin-bottom: 5%;
    top: 90vh;
    opacity: .6;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.footer a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .text {
        width: 80%;
    }
}