.content:before {
    overflow: auto;	
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-size:cover;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}

body {
    background-color: var(--bg-color); 
    font-family: 'Nunito', sans-serif;
}

#bg {
    background: white;
    width: 50%;
    margin: 0 auto;
    padding: 5%;
    margin-bottom: 5%;
}

h1 {
    font-size: 72pt;
    color: white;
    text-align: center;
    font-family: Beleren;
    margin-bottom: 0px;
}

p {
    font-size: 16pt;
}

img {
    margin: auto;
    display: flex;
}

.top-gap {
    margin-top: -70px;
}

a button {
    margin: 0;
    cursor: pointer;
}

.footer {
    position: fixed;
    margin-left: 5%;
    margin-bottom: 5%;
    top: 90vh;
    opacity: .6;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.footer a {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.underlight {
    color: gray;
    opacity: 0.7;
}

@font-face {
    font-family: Beleren;
    src: url("/css/fonts/BelerenBold.woff");
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 48pt;
    }

    #bg {
        width: 70%;
        max-width: auto;
    }

    p {
        font-size: 14pt;
    }

    .top-gap {
        margin-top: -30px !important;
    }
    
}