body {
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: #272a33;
}

input {
    border-radius: 3px;
    border: 1px solid #555555;
    color: black;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    background-color: rgba(255,255,255,0.8);
}

input[type=text] {
    margin: 15px;
    display: inline-block;
    padding: 5px;
    font-size: 14px;
}

button.danger {
    background-color: rgba(135, 36, 0, 0.7);
    color: white;
}

.section {
    padding-left: 30px;
}
#event-code-input {
    width: 100px;
}
