body {
    font-family: 'Nunito', sans-serif;
    background-color: #272a33;
    color: white;
}

.content:before {
    overflow: auto;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/img/?bg=matches");
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}

h2 {
    font-size: 24pt;
}

p {
    font-size: 16pt;
}

.title {
    padding: 30px;
}

.match {
    margin-left: 30%;
    padding: 50px;
}

button {
    margin: 25px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    border: 2px solid #555555;
    color: #555555;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    font-family: 'Nunito', sans-serif;
}

button:hover {
    background-color: rgba(51, 51, 51, 0.7);
    color: white;
}

#buttons {
    position: absolute;
    right: 10vw;
    top: 50px;
    display: grid;
}

#buttons button {
    min-width: 180px;
}

select {
    margin: 6px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    border: 2px solid #555555;
    color: #555555;
    padding: 8px 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

* {
    box-sizing: border-box;
}

form {
    color: black;
}

/* Full-width input fields */

input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */

input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

/* Add padding to container elements */

.container {
    padding: 16px;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(71, 78, 93, 0.7);
    padding-top: 50px;
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover, .close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.footer {
    position: fixed;
    margin-left: 5%;
    margin-bottom: 5%;
    top: 90vh;
    opacity: .6;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.footer a {
    color: white;
    text-decoration: none;
}

.selector {
    font-size: 17.5pt;
    border: 2px solid black;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    width: fit-content;
    padding: 15px;
    margin: 15px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, cornflowerblue 50%);
    cursor: pointer;
    transition: background-position .15s;
}

.selector.selected {
    transition: 0.15s;
    color: white;
}

.selector.selected.left {
    background-position: -100% 0;
}

.selector.selected.right {
    background-position: 100% 0;
}

.selector-bar {
    display: flex;
}

@media screen and (max-width:600px) {
    .match {
        margin-left: 0px;
        padding: 25px;
    }
    h2 {
        font-size: 16pt;
    }
    #buttons {
        position: unset;
    }
    button {
        margin-top: 0px;
    }
}