body {
    font-family: 'Nunito', sans-serif;
    background-color: #264a65;
}

.content:before {
    overflow: auto;	
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url("fblthb.jpeg");
    background-size:cover;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}

button {
    margin: 25px;
    background-color: rgba(51, 51, 51, 0.5);
    border-radius: 3px;
    border: 2px solid #555555;
    color: #555555;
    padding: 10px 10px;
    align-self: center;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}
button:hover {
    background-color: rgba(51, 51, 51, 0.7);
    text-decoration: underline white;
    color: white;
}

.center {
    padding-top: 12%;
}

a {
    text-decoration: none;
}

.footer {
    position: fixed;
    margin-left: 5%;
    margin-bottom: 5%;
    top: 90vh;
    opacity: .6;
    font-family: 'Nunito', sans-serif;
}

.footer a {
    color: white;
    text-decoration: none;
}

.status {
    position: fixed;
    margin-bottom: 5%;
    top: 90vh;
    right: 5vw;
    opacity: .6;
    color: white;
    font-family: Menlo, Consolas, "Liberation Mono", Courier, monospace;
}

@font-face {
    font-family: MPlantin;
    src: url("/fonts/MPlantin.woff");
}