body {
    background-color: #141729;
}

.content:before {
    background-image: url("bioessence-hydra.jpg");
}

.backdrop {
    background-color:#f4eee7;
}

#tab-bg {
    background-color: #163a2c;
}

.tab span:hover {
    background-color: #bcccc9;
}

.tab span.active {
    background-color: #d2e6e2;
}