.content:before {
    background-image: url("azorius.jpg");
}

button {
    padding: 10px 80px;
}

.text {
    width: 60%;
    margin: 0 auto;
    background: rgba(240, 248, 255, 0.5);
    padding: 5%;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

#active-event {
    display: flex;
    margin: 0 auto;
}

#event-info {
    width: 350px;
}

.symbol-link {
    padding: 20px;
}

.footer {
    position: fixed;
    margin-left: 5%;
    margin-bottom: 5%;
    top: 90vh;
    opacity: .6;
    font-family: 'Nunito', sans-serif;
}

.footer a {
    color: white;
    text-decoration: none;
}

.ss-sof::before {
    content: url("symbol-sof.svg");
}

@media screen and (max-width: 600px) {
    .text {
        width: auto;
    }

    #active-event {
        display: block;
    }

    #event-info {
        width: auto;
    }
}