body {
    font-family: 'Nunito', sans-serif;
    background-color: #6e7477;
    color: black;
}

.content:before {
    overflow: auto;	
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("arborback-stomper.jpg");
    background-size:cover;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}

.backdrop {
    background-color:#f4eee7;
    padding: 50px;
    width: 80%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 0 auto;
    overflow: auto;
    color: black;
}

.deck {
    display: flex;
}

a {
    color: inherit;
    text-decoration: none;
}

.tab {
    align-items: center;
    color: white;
    display: grid;
    height: fit-content;
}

#tab-bg {
    height: 80%;
    background-color: #2e5e2e;
    border: 1px solid rgb(59, 67, 55);
    border-right: none;
}

#players {
    width: 100%;
}

#display {
    display: flex;
    margin: 0 auto;
    margin-left: 15%;
}

.tab button {
    align-self: center;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 14.5px;
    transition: 0.3s;
    font-size: 17px;
    font-family: inherit;
    color: inherit;
}

.tab button:hover {
    background-color: #c5bccc;
    color:black;
}

.tab button.active {
    background-color: #e6d2e6;
    opacity: 0.8;
    color: black;
}

.tabcontent {
    display: none;
    padding: 0px;
    border: 1px solid rgb(59, 67, 55);
    border-left: none;
    height: 80%;
    margin: 0px;
}

.type {
    padding: 20px;
}

.row {
    min-width: 33%;
}

.card-preview {
    display: none;
    background-size: 224px auto;
    width: 224px;
    height: 310px; 
    position: absolute;
    z-index: 2;
    border: 3px solid white;
    border-radius: 5px;
    pointer-events: none;
}

.footer {
    position: fixed;
    margin-left: 1%;
    margin-bottom: 5%;
    top: 90vh;
    opacity: .6;
    font-family: 'Nunito', sans-serif;
} 

.footer a {
    color: white;
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

td {
    margin: 50px;
    padding-right: 10px;
}

h3 {
    padding-top: 0.75em;
    padding-right: 25px;
}

h2 {
    margin-left: 30px;
}

.title {
    padding: 30px;
}

@media screen and (max-width:600px) {
    .backdrop {
        width: 100%
    }

    #display {
        margin-left: 0;
    }
}