.content:before {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("izzet-guildgate.jpg");
}

.backdrop {
    background-color:#f4eee7;
}

#tab-bg {
    background-color: #49274a;
}

.tab span:hover {
    background-color: #c5bccc;
}

.tab span.active {
    background-color: #e6d2e6;
}