body {
    background-color: #241429;
}

.content:before {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("niv-mizzet.jpg");
}

.backdrop {
    background-color:#f4eee7;
}

#tab-bg {
    background-color: #49274a;
}

.tab button:hover {
    background-color: #c5bccc;
}

.tab button.active {
    background-color: #e6d2e6;
}